body {
    margin: 0;
    padding: 0;
}

.head-elem {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#tick-img {
    width: 100%;
    height: 95vh;
    filter: brightness(0.2);
    position: relative;
}

.head-elem h1,
.head-elem p,
.head-elem .btn-buy {
    position: absolute;
    text-align: center;
    color: white;
    margin: auto;
    z-index: 1;
}

.btn-buy {
    width: 150px;
}

.btn-buy {
    padding: 13px 35px;
    border-radius: 4px;
    font-size: 11px;
    border: 1px solid transparent;
}
.btn-buy:hover, .btn-buy2:hover {
    background-color: #c94821b4;
    color: black;
    cursor: pointer;
    border: 1px solid black;
}

.btn-buy2{
    width: 50%;
    padding: 13px 35px;
    border-radius: 4px;
    font-size: 13px;
    border: none;
    border: 1px solid transparent;
}

.head-elem h1 {
    margin-bottom: 6rem;
}

.head-elem p {
    margin-bottom: 5rem;
}



.tickets-sect {
    margin: 0 auto;
    padding: 0;
    background: whitesmoke;
    color: black;
    padding: 5px;
    width: 65%;
    border-radius: 1rem;
    text-align: center;
}

.tickets-elements {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8%;
    margin: auto;
    padding: 30px;
    border-bottom: 1px black solid;
}
.tickets-elements h3, p {
    letter-spacing: 1px;
}
.tickets-elements h3 {
    font-weight: 600;
}
.tickets-elements p {
    font-weight: 400;
}

.tickets-comp {
    padding: 20px;
}