body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.head-elem {
    text-align: center;
    width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#tick-img {
    width: 100%;
    max-width: none;
    height: 94vh;
    filter: brightness(0.2);
    position: relative;
}

.head-elem .btn-buy {
    position: absolute;
    text-align: center;
    color: white;
    margin: auto;
}

.btn-buy {
    width: auto;
}

.btn-buy {
    padding: 13px 35px;
    border-radius: 4px;
    font-size: 11px;
    border: 1px solid transparent;
    cursor: pointer;
}

.btn-buy:hover,
.btn-buy2:hover {
    background: orange;
    color: #424242;
    transition: .5s ease-in-out;
    color: black;
}

.btn-buy2 {
    width: 30%;
    padding: 13px 35px;
    border-radius: 4px;
    font-size: 13px;
    border: none;
    border: 1px solid transparent;
    cursor: pointer;
}

.zone-selection {
    text-align: center;
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.map-container img {
    max-width: 100%;
}

.btn-pay {
    margin-top: 10px;
    padding: 15px 50px;
    border-radius: 4px;
    width: 200px;
    border: none;
    cursor: pointer;
}

.btn-pay:hover {
    background: orange;
    color: #424242;
    transition: .5s ease-in-out;
}


.head-elem h1 {
    margin-bottom: 6rem;
}

.head-elem p {
    margin-bottom: 5rem;
}



.tickets-sect {
    margin: auto;
    background: white;
    color: black;
    padding: 15px;
    width: 90%;
    max-width: 100vw;
    border-radius: 1rem;
    text-align: center;
}

.field-elements {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.field-elements img {
    width: 175px;
    height: 175px;
}


.tickets-elements {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8%;
    margin: auto;
    padding: 30px;
    border-bottom: 1px #64646462 solid;
}

.tickets-elements h3,
p {
    letter-spacing: 1px;
}

.tickets-elements h3 {
    font-weight: 600;
}

.tickets-elements p {
    font-weight: 400;
}

.tickets-comp {
    padding: 20px;
}

/*HIDE CLASS*/
.hidden {
    display: none;
}


.vip,
.general,
.top {
    transition: fill 0.3s;
    cursor: pointer;
}

.vip:hover {
    fill: #ff00ff5e;
}

.general:hover {
    fill: #0000ff5e;
}

.top:hover {
    fill: #ff00005d;
}