.Card {
    width: 68%;
    border: 1px #949494 solid;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.Card:nth-child(odd) {
    margin-left: 0;
    margin-right: auto;
}

.Card:nth-child(even) {
    margin-left: auto;
    margin-right: 0;
}

.Card:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: #ff9372b4;
    border: #ff9372b4 solid 1px;

    #tit {
        text-decoration: underline;
    }
}

.Card img {
    width: 25%;
}
.Card h2 {
    font-size: 40px;
}
.Card p {
    font-size: 19px;
}

.elements {
    display: inline-block;
    margin-left: 50px;
    width: 45%;
}

button {
    margin: auto;
    padding: 15px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 10px;
    border: none;
    border: transparent solid 1px;
}
button:hover {
    cursor: pointer;
    color: white;
    background-color: #ff886496;
    border: white solid 1px;
}