body {
    margin-top: 64px;
}

.sign-up-container {
    margin: auto auto 50px;
    width: 50%;
}

.sign-up-container form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.sign-up-container input {
    margin: 12px;
    width: 30%;
    padding: 7px;
}

.sign-up-container button {
    width: 10%;
    padding: 7px;
}