body {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40px;
    margin: auto;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    padding: 15px;
    margin: auto;
    background-color: #181818;
}

header #logo-img{
    width: 40px;
}

footer {
    height: 100px;
    padding: 20px;
    background-color: #181818;
    margin: auto;
    z-index: 99;
}

nav {
    display: flex;
}
nav img {
    width: 45px;
}

a {
    font-weight: 600;
    color: white;
    text-decoration: inherit;
    margin: auto;
    font-size: 12px;
    position: relative;
    letter-spacing: 3px;
}
a:hover {
    color: orange;
}
a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: orange;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

#login-img {
    width: 33px;
}

.author {
    text-align: center;
    margin-top: 35px;
}

.Video {
    position: relative;

}
.Video img {
    width: 100%;
    height: 95vh;
    filter:brightness(0.2);
}
.centered {
    position: absolute;
    width: 650px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centered h1 {
    margin: auto;
    font-size: 60px;
    width: 100%;
    letter-spacing: 6px;
    text-align: center;
}
.centered p {
    margin: auto;
    text-align: center;
    padding: 25px;
    font-size: 20px;
}

hr {
    width: 100%;
    height: 5px;
    background-color: lightgray;
    border: none;
    margin: auto;
}

.others {
    font-size: 26px;
    text-align: center;
    width: 60%;
    margin: 75px auto 50px;
}