:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: 3px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  z-index: 1;
  overflow: hidden;
  top: 0;
  padding: 0;
  margin: auto;
}

nav {
  display: flex;
}

li {
  list-style: none;
  padding: 25px;
}

a {
  font-weight: 600;
  color: white;
  text-decoration: inherit;
  margin: auto;
  font-size: 20px;
}
a:hover {
  color: #ff8864b4;
}
#login-img {
  width: 40px
}
#login-img:hover {
  background-image: url(https://iconos8.es/icon/98957/usuario);
}

.Video img {
  width: 100%;
}
.Video h1 {
  font-size: 60px;
  width: 100%;
  letter-spacing: 6px;
  text-align: center;
}